@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Helvetica", sans-serif;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: var(--fs-600);
}

h2 {
  font-size: var(--fs-500);
}

h3 {
  font-size: var(--fs-400);
}

p {
  font-size: var(--fs-300);
}

a, a:visited, a:active {
  text-decoration: none;
}

/* Les couleurs qu'on va utiliser
   ========================================================================== */
.purple {
  color: #d1abf9;
}

/* Buttons for filter buttons */
button {
  font-size: var(--fs-300);
  padding: 10px;
  transition: all 0.2s;
  cursor: pointer;
}
button.btn-primary {
  background: transparent;
  border: 1px solid var(--clr-neutral-1100);
  color: var(--clr-neutral-1100);
  border-radius: 0.8em;
}
button.btn-primary:hover {
  background-color: var(--clr-neutral-1100);
  color: var(--clr-neutral-100);
}
button.btn-secondary {
  background: none;
  border: 1px solid #d1abf9;
  color: var(--clr-neutral-100);
  padding: 5px 20px;
  border-radius: 0.8em;
  letter-spacing: 0.1px;
}
button.btn-secondary:hover {
  background: #d1abf9;
  color: var(--clr-neutral-1100);
}
button.btn-card {
  margin-top: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  color: #f1f1f1;
  padding: 30px 50px;
  background: #151118;
  z-index: 1;
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.8rem;
  color: #f1f1f1;
  background-color: #222;
  padding: 10px 0;
}
footer i {
  font-size: 0.7rem;
  color: pink;
}
footer span {
  font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 1000px;
  background-color: #151118;
  color: var(--clr-neutral-100);
}

.search-filter, .search-functionalities .shuffle-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 0.9rem;
  color: #222;
  padding: 10px;
  background-color: #F1F1F1;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
}

.gallery .product-card .more-info, .shuffle-gallery .product-card .more-info, .search-filter-dropdown .range-reset, .search-filter-dropdown .range-search, .search-filter-dropdown .creators-reset {
  font-size: 0.8rem;
  color: #222;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.search-functionalities {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
.search-bar {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  border: 1.5px solid var(--clr-neutral-800);
  border-radius: 0.8em;
}
.search-bar input {
  flex-grow: 1;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}
.search-bar i {
  color: #222;
}
.search-bar-container {
  position: relative;
  max-width: 400px;
  width: 100%;
}
.search-bar-dropdown {
  display: none;
}
.search-bar-dropdown.opened {
  display: block;
  position: absolute;
  width: 100%;
  max-height: 160px;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #222;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 10px 20px;
}
.search-bar-result {
  list-style: none;
  cursor: pointer;
}
.search-bar-result:hover {
  font-weight: bold;
}
.search-bar-result:not(:last-child) {
  margin-bottom: 15px;
}
.search-filter.active {
  color: var(--clr-neutral-1100);
  background-color: #d1abf9;
  border: 1px solid #d1abf9;
}
.search-filter.active + .search-filter-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 270px;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #222;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 10px 20px;
  height: 300px;
  overflow: hidden;
}
.search-filter.active + #range-dropdown {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}
.search-filter-container {
  position: relative;
}
.search-filter-dropdown {
  display: none;
}
.search-filter-dropdown .search-bar {
  border: 1px solid #222;
  margin-bottom: 20px;
}
.search-filter-dropdown .creators-list {
  flex-grow: 1;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 15px;
}
.search-filter-dropdown .creator-item {
  height: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}
.search-filter-dropdown .creator-item.selected {
  position: relative;
}
.search-filter-dropdown .creator-item.selected::after {
  content: "✓";
  font-weight: bold;
  position: absolute;
  top: -2px;
  margin-left: 10px;
}
.search-filter-dropdown .range-value {
  border: 1px solid #222;
  padding: 10px;
  border-radius: 2px;
  outline: none;
  margin-bottom: 10px;
}
.search-filter-dropdown .range-buttons-container {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.search-filter-dropdown .range-error {
  text-align: center;
  color: rgb(209, 40, 40);
  margin-bottom: 10px;
}
.search-filter-dropdown label {
  margin-bottom: 5px;
}

main {
  padding-top: 40px;
  margin-bottom: 80px;
}
main h2 {
  text-align: center;
  margin-bottom: 20px;
}
main .shuffle-gallery {
  padding: 0 30px;
  text-align: center;
  width: 100%;
}
main .separator {
  height: 1px;
  width: 40%;
  margin: 50px auto;
  background-color: var(--clr-neutral-300);
}
main .not-found {
  text-align: center;
  height: 30vh;
}
main .load-more {
  display: block;
  border: 1px solid #222;
  padding: 10px;
  border-radius: 2px;
  margin: 0 auto 100px;
  cursor: pointer;
}

.gallery, .shuffle-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-auto-rows: 620px;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  gap: 20px;
  padding: 0 30px;
  margin: 0 auto 50px;
}
.gallery .product-card, .shuffle-gallery .product-card {
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-1100);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(34, 34, 34, 0.293);
  overflow: hidden;
}
.gallery .product-card .more-info, .shuffle-gallery .product-card .more-info {
  margin-top: auto;
}
.gallery .product-image, .shuffle-gallery .product-image {
  padding: 1em;
  height: 50%;
}
.gallery .product-image.skeleton-anim, .shuffle-gallery .product-image.skeleton-anim {
  background: #4C4C4C;
  -webkit-animation: skeleton 0.8s ease-in-out infinite alternate;
          animation: skeleton 0.8s ease-in-out infinite alternate;
}
.gallery .product-image img, .shuffle-gallery .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .product-info, .shuffle-gallery .product-info {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 20px;
}
.gallery .product-info > *:not(button), .shuffle-gallery .product-info > *:not(button) {
  flex-shrink: 0;
  margin-bottom: 10px;
}
.gallery .product-info > *:not(button).skeleton-anim, .shuffle-gallery .product-info > *:not(button).skeleton-anim {
  height: 25px;
  background: #4C4C4C;
  -webkit-animation: skeleton 0.8s ease-in-out infinite alternate;
          animation: skeleton 0.8s ease-in-out infinite alternate;
}
.gallery .product-info span, .shuffle-gallery .product-info span {
  display: block;
  font-weight: bold;
}
.gallery .product-description, .shuffle-gallery .product-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

@-webkit-keyframes skeleton {
  to {
    opacity: 0.6;
  }
}

@keyframes skeleton {
  to {
    opacity: 0.6;
  }
}
.product-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.home-icon {
  font-size: 1.4rem;
  margin-left: auto;
  cursor: pointer;
}
.home-icon a {
  color: inherit;
}
.home-icon a i {
  margin-right: 1em;
}

#nft {
  position: relative;
  width: 60%;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-1100);
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding: 50px 30px;
  margin: 100px 0;
}
#nft-illustration {
  width: 400px;
  height: 400px;
  padding: 5px;
  border: 1px solid #222;
  flex-shrink: 0;
}
#nft-illustration.skeleton-anim {
  background-color: #222;
  -webkit-animation: skeleton-anim 1s alternate infinite;
          animation: skeleton-anim 1s alternate infinite;
}
#nft-illustration img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#nft-details {
  padding-right: 1em;
  flex-grow: 1;
}
#nft-title {
  display: flex;
  align-items: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
  margin-bottom: 20px;
}
#nft-title.skeleton-anim {
  width: 48%;
  height: 30px;
  background-color: #222;
  -webkit-animation: skeleton-anim 1s alternate infinite;
          animation: skeleton-anim 1s alternate infinite;
}
#nft-title__text {
  font-size: 1.5rem;
  font-weight: 700;
}
#nft-artist-name {
  font-weight: normal;
}
#nft .nft-info {
  margin-bottom: 15px;
}
#nft .nft-info.skeleton-anim {
  width: 45%;
  height: 25px;
  background-color: #222;
  -webkit-animation: skeleton-anim 1s alternate infinite;
          animation: skeleton-anim 1s alternate infinite;
}
#nft .nft-info__type {
  font-weight: 600;
  margin-bottom: 5px;
}
#nft .heart {
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 2rem;
  color: #222;
  cursor: pointer;
}
#nft .heart:hover {
  color: rgb(209, 40, 40);
}

@-webkit-keyframes skeleton-anim {
  to {
    opacity: 0.6;
  }
}

@keyframes skeleton-anim {
  to {
    opacity: 0.6;
  }
}
/* generate variables for styling */
:root {
  --clr-neutral-100: #fff;
  --clr-neutral-200: #dedede;
  --clr-neutral-300: #ccc;
  --clr-neutral-700: #666;
  --clr-neutral-800: #4d4d4d;
  --clr-neutral-900: #262626;
  --clr-neutral-1000: #111111;
  --clr-neutral-1100: #000000;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.442rem;
  --fs-800: 3.052rem;
}
@media only screen and (min-width: 1024px) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.425rem;
    --fs-500: 2rem;
    --fs-600: 2.827rem;
    --fs-700: 4rem;
    --fs-800: 5.653rem;
  }
}/*# sourceMappingURL=main.css.map */