.search-filter, .search-functionalities .shuffle-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 0.9rem;
  color: #222;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
}

.gallery .product-card .more-info, .search-filter-dropdown .range-reset, .search-filter-dropdown .range-search, .search-filter-dropdown .creators-reset {
  font-size: 0.8rem;
  color: #222;
  padding: 5px;
  border: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100px;
  color: #f1f1f1;
  padding: 0 50px;
  background-color: #222;
  box-shadow: 0 0 5px rgba(34, 34, 34, 0.293);
  z-index: 1;
}

.search-functionalities {
  display: flex;
}
.search-bar {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 3px;
}
.search-bar input {
  flex-grow: 1;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
}
.search-bar i {
  color: #222;
}
.search-bar-container {
  position: relative;
  width: 400px;
  margin-right: 30px;
}
.search-bar-dropdown {
  display: none;
}
.search-bar-dropdown.opened {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #222;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 10px 20px;
}
.search-filter.active {
  color: #f1f1f1;
  background-color: transparent;
  border: 1px solid #f1f1f1;
}
.search-filter.active + .search-filter-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 250px;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #222;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 10px 20px;
  height: 300px;
  overflow: hidden;
}
.search-filter.active + #range-dropdown {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}
.search-filter-container {
  position: relative;
}
.search-filter-container:not(:last-child) {
  margin-right: 15px;
}
.search-filter-dropdown {
  display: none;
}
.search-filter-dropdown .search-bar {
  border: 1px solid #222;
  margin-bottom: 20px;
}
.search-filter-dropdown .creators-list {
  flex-grow: 1;
  list-style: none;
  overflow-y: scroll;
  margin-bottom: 15px;
}
.search-filter-dropdown .creator-item {
  height: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}
.search-filter-dropdown .creator-item.selected {
  font-weight: bold;
}
.search-filter-dropdown .range-value {
  border: 1px solid #222;
  padding: 10px;
  border-radius: 2px;
  outline: none;
  margin-bottom: 10px;
}
.search-filter-dropdown .range-buttons-container {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.search-filter-dropdown label {
  margin-bottom: 5px;
}

main {
  padding-top: 140px;
  margin-bottom: 80px;
}
main h2 {
  text-align: center;
  margin-bottom: 20px;
}
main .shuffle-gallery {
  padding: 0 30px;
  width: 100%;
  height: 100px;
  background: red;
}
main .separator {
  height: 1px;
  width: 40%;
  margin: 50px auto;
  background-color: #222;
}
main .load-more {
  display: block;
  border: 1px solid #222;
  padding: 10px;
  border-radius: 2px;
  margin: 0 auto 100px;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-auto-rows: 620px;
  justify-content: center;
  gap: 20px;
  padding: 0 30px;
  margin-bottom: 50px;
}
.gallery .product-card {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(34, 34, 34, 0.293);
  overflow: hidden;
}
.gallery .product-card .more-info {
  margin-top: auto;
}
.gallery .product-image {
  height: 50%;
}
.gallery .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .product-info {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 20px;
}
.gallery .product-info > *:not(button) {
  flex-shrink: 0;
  margin-bottom: 10px;
}
.gallery .product-info span {
  display: block;
  font-weight: bold;
}
.gallery .product-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.8rem;
  color: #f1f1f1;
  background-color: #222;
  padding: 10px 0;
}
footer i {
  font-size: 0.7rem;
  color: pink;
}
footer span {
  font-style: italic;
}/*# sourceMappingURL=index.css.map */