footer {
    margin-top: auto;
    text-align: center;
    font-size: 0.8rem;
    color: #f1f1f1;
    background-color: #222;
    padding: 10px 0;

    i {
        font-size: 0.7rem;
        color: pink;
    }

    span {
        font-style: italic;
    }
}