header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    color: #f1f1f1;
    padding: 30px 50px;
    background: #151118;
    z-index: 1;
}