* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  color: #f1f1f1;
  padding: 30px 50px;
  background-color: #222;
  box-shadow: 0 0 5px rgba(34, 34, 34, 0.293);
  z-index: 1;
}

.home-icon {
  font-size: 1.4rem;
  margin-left: auto;
  cursor: pointer;

  a {
    color: inherit;
  }
}

#nft {
  display: flex;
  column-gap: 50px;
  padding: 0 30px;
  margin: 100px 0;

  &-illustration {
    width: 400px;
    height: 400px;
    padding: 5px;
    border: 1px solid #222;
    flex-shrink: 0;

    &.skeleton-anim {
      background-color: #222;
      animation: skeleton-anim 1s alternate infinite;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-details {
    flex-grow: 1;
  }

  &-title {
    display: flex;
    align-items: center;
    column-gap: 100px;
    margin-bottom: 20px;

    &.skeleton-anim {
      width: 48%;
      height: 30px;
      background-color: #222;
      animation: skeleton-anim 1s alternate infinite;
    }

    &__text {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  &-artist-name {
    font-weight: normal;
  }

  .nft {
    &-info {
      margin-bottom: 15px;

      &.skeleton-anim {
        width: 45%;
        height: 25px;
        background-color: #222;
        animation: skeleton-anim 1s alternate infinite;
      }

      &__type {
        font-weight: 600;
        margin-bottom: 5px;
      }
    }
  }

  .heart {
    font-size: 1.3rem;
    color: #222;
    cursor: pointer;

    &:hover {
      color: pink;
    }
  }
}

footer {
  margin-top: auto;
  text-align: center;
  font-size: 0.8rem;
  color: #f1f1f1;
  background-color: #222;
  padding: 10px 0;

  i {
    font-size: 0.7rem;
    color: pink;
  }

  span {
    font-style: italic;
  }
}


@keyframes skeleton-anim {
  to {
    opacity: 0.6;
  }
}