/* Les couleurs qu'on va utiliser
   ========================================================================== */
    
$colors: (
    neutral:(
        100: #fff,
        200: #dedede,
        300: #ccc,
        700: #666,
        800: #4d4d4d,
        900: #262626,
        1000: #111111,
        1100: #000000,
    )
);
$active-color: #d1abf9;
$bg: #151118;
.purple {
    color: $active-color;
}

